<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>A word, please!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="|Word of the day : ${hiddenWord}|"></p>
    <form action="#" th:action="@{/word}" th:object="${Word}" method="post">
        <p>Propose a word: <input type="text"  /></p>
        <input type="text" th:field="*{proposedWord}" required /> 
        <!-- th:maxlength="${maxLength}" -->
        <!-- <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span> -->
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>